
<div class="container">
    <div class="d-grid">
        <a asp-action="Index" asp-controller="Admin" class="btn btn-success mb-3 mt-3">Admin</a>
    </div>
</div>

<div class="container">
    <div class="d-grid">
        <a asp-action="Index" asp-controller="Login" class="btn btn-success mb-3 mt-3">Log in</a>
    </div>
    <div class="d-grid">
        <a asp-action="Index" asp-controller="Register" class="btn btn-success mb-3 mt-3">Register</a>
    </div>
</div>
 


