<section class="collection-grid">
    <div class="container">
        <div class="title">@ViewData["Title"]</div>
        <div class="item-collection">
            <partial name="_CollectionItemPartial"/>
            <partial name="_CollectionItemPartial"/>
            <partial name="_CollectionItemPartial"/>
            <partial name="_CollectionItemPartial"/>
            <partial name="_CollectionItemPartial"/>
            <partial name="_CollectionItemPartial"/>
            <partial name="_CollectionItemPartial"/>
            <partial name="_CollectionItemPartial"/>
        </div>
    </div>
</section>