<section class="collection-grid">
	<div class="container">
		<div class="title">@ViewData["CollectionTitle"]</div>
		<div class="item-collection">
			<partial name="~/Views/Shared/Partials/_CollectionItemPartial.cshtml" />
			<partial name="~/Views/Shared/Partials/_CollectionItemPartial.cshtml" />
			<partial name="~/Views/Shared/Partials/_CollectionItemPartial.cshtml" />
			<partial name="~/Views/Shared/Partials/_CollectionItemPartial.cshtml" />
			<partial name="~/Views/Shared/Partials/_CollectionItemPartial.cshtml" />
			<partial name="~/Views/Shared/Partials/_CollectionItemPartial.cshtml" />
			<partial name="~/Views/Shared/Partials/_CollectionItemPartial.cshtml" />
			<partial name="~/Views/Shared/Partials/_CollectionItemPartial.cshtml" />
		</div>
	</div>
</section>