@model IEnumerable<Fixxo_MVC_App.Models.CollectionItemModel>

<section class="collection-grid">
	<div class="container">
		<div class="title">@ViewData["CollectionTitle"]</div>
		<div class="item-collection">
			@foreach(var product in Model)
			{
				<partial name="~/Views/Shared/Partials/_CollectionItemPartial.cshtml" model="product"/>
			}
		</div>
	</div>
</section>