@model IEnumerable<Fixxo_MVC_App.Models.CollectionItemModel>

<section class="collection-twocolumns">
    <div class="column bg-gray">
        <div class="content">
            <h1>2 FOR USD $29</h1>
            <button class="btn-white">NEW PRODUCTS</button>
        </div>
    </div>
    <div class="column item-collection">
        	@foreach(var product in Model)
	        {
	            <partial name="~/Views/Shared/Partials/_CollectionItemPartial.cshtml" model="product"/>
	        }
    </div>
</section>
<section class="collection-twocolumns">
    <div class="column item-collection">
        @foreach(var product in Model)
        {
            <partial name="~/Views/Shared/Partials/_CollectionItemPartial.cshtml" model="product"/>
        }
    </div>
    <div class="column bg-gray">
        <div class="content">
            <h1>2 FOR USD $29</h1>
            <button class="btn-white">NEW PRODUCTS</button>
        </div>
    </div>
</section>